## <span style="color:brown">Notebook Instructions</span>

<i> You can run the notebook document sequentially (one cell a time) by pressing <b> shift + enter </b>. While a cell is running, In [*] will display on the left. When it has been run, a number will display indicating the order in which it was run in the notebook. Example: In [8]: </i>

<i> Enter edit mode by pressing <b> Enter </b> or using the mouse to click on a cell's editor area. Edit mode is indicated by a green cell border and a prompt showing in the editor area. </i>

##### <span style="color:green">1. Create Data Frames </span>
##### <span style="color:green">2. Customize index of a Data Frame</span>
#####  <span style="color:green">3. Rearrange the columns in a Data Frame</span>
##### <span style="color:green">4. Use an Existing Column as the index of a Data Frame</span>
##### <span style="color:green">5. Access a column in a Data Frame</span>
##### <span style="color:green">6. Load financial market data </span>
##### <span style="color:green">7. Dropping Rows and/or Columns</span>
##### <span style="color:green">8. Rename columns</span>
##### <span style="color:green">9. Sort a Data Frame using a column</span>
##### <span style="color:green">10. Just for Fun</span>

## Create Data Frames 

The underlying idea of a Data Frame is based on 'spreadsheets'. In other words, data frames store data in discrete Rows and Columns, where each column can be named (something that is not possible in Arrays but is possible in Series). There are also multiple columns in a Data Frame (as opposed to Series, where there can be only one discrete indexed column).<br>
<br>
The constructor for a Data Frame is <font color=red>pandas.DataFrame(data=None, index=None)</font> or if you are using 'pd' as alias for pandas, then it would be <font color=red>pd.DataFrame(data=None, index=None)</font><br>
<br>
Let us have a look at the following example.

In [8]:
import pandas as pd
import numpy as np

# A DataFrame has a row and a column index

my_portfolio = {
                "stock_name": ["Alphabet", "Facebook", "Apple", "Tesla", "Infosys"],
                "quantity_owned": [1564, 6546, 5464, 6513, 4155],
                "average_buy_price": ["$950", "$160", "$120", "$270", "$15"]
               } 

my_portfolio_frame = pd.DataFrame (my_portfolio) # We have passed the 'data' argument in the Data Frame constructor

my_portfolio_frame #This is a dataframe

  average_buy_price  quantity_owned stock_name
0              $950            1564   Alphabet
1              $160            6546   Facebook
2              $120            5464      Apple
3              $270            6513      Tesla
4               $15            4155    Infosys

## Customize index of the Data Frame 

In the above output, you can see that the 'index' is the default one which starts from 0. One can customize this index.

In [9]:
ordinals = ["first", "second", "third", "fourth", "fifth"] # list

my_portfolio_frame = pd.DataFrame (my_portfolio, index=ordinals) #Please notice that we have not kept index as default i.e.'none'

my_portfolio_frame

       average_buy_price  quantity_owned stock_name
first               $950            1564   Alphabet
second              $160            6546   Facebook
third               $120            5464      Apple
fourth              $270            6513      Tesla
fifth                $15            4155    Infosys

## Rearrange the columns in a Data Frame 

We can also define or change the order of columns.

In [10]:
# you can define the order of columns using the parameter columns=[] in the construction statement

my_portfolio_frame = pd.DataFrame(my_portfolio, columns=["stock_name", "quantity_owned", "average_buy_price"], index=ordinals)

my_portfolio_frame

       stock_name  quantity_owned average_buy_price
first    Alphabet            1564              $950
second   Facebook            6546              $160
third       Apple            5464              $120
fourth      Tesla            6513              $270
fifth     Infosys            4155               $15

## Use an existing column as an index of a dataframe

We will use the column 'stock_name' as the index of the dataframe.

In [11]:
my_portfolio_frame = pd.DataFrame (my_portfolio, 
                                   columns = ["quantity_owned","average_buy_price"],
                                   index = my_portfolio ["stock_name"])

my_portfolio_frame

          quantity_owned average_buy_price
Alphabet            1564              $950
Facebook            6546              $160
Apple               5464              $120
Tesla               6513              $270
Infosys             4155               $15

## Access a column in a data frame 

You can access or retrieve a single or multiple columns by their names or by their location.

In [12]:
# The index at present is the 'stock_name'. Refer to above code. 

# This makes sense if we just want to know the quantity of stock that we own for each stock (which is our index, currently)

print (my_portfolio_frame["quantity_owned"]) # Column name is passed within quotes within square brackets

Alphabet    1564
Facebook    6546
Apple       5464
Tesla       6513
Infosys     4155
Name: quantity_owned, dtype: int64

Give an example to retrieve column using location no.

## Load financial market data

This is a recap from the section 'Importing Data and Data Visualisation'. We have done this in a <b>pd.read_csv()</b> iPython notebook.

In [13]:
# Loading data using CSV file 

# We have stored a 'infy_data.csv'

import numpy as np
import pandas as pd

infy = pd.read_csv ('infy.csv')

In [14]:
infy # this is our entire "Infosys" stock data frame

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,18-Apr-2016,1172.70,1250.00,1267.90,1233.50,1237.15,1238.70,1247.17,12507995,1.559965e+10,287988,7270261,58.12
1,INFY,EQ,20-Apr-2016,1238.70,1244.00,1246.45,1225.80,1244.00,1243.60,1237.18,4036424,4.993801e+09,139599,2555094,63.30
2,INFY,EQ,21-Apr-2016,1243.60,1251.00,1251.00,1218.10,1226.80,1226.30,1231.52,2720550,3.350410e+09,97218,1626993,59.80
3,INFY,EQ,22-Apr-2016,1226.30,1226.30,1228.50,1207.00,1212.75,1211.25,1215.94,2571969,3.127365e+09,96983,1634111,63.54
4,INFY,EQ,25-Apr-2016,1211.25,1212.05,1224.80,1201.10,1219.25,1215.85,1211.42,2682067,3.249113e+09,91828,1673309,62.39
5,INFY,EQ,26-Apr-2016,1215.85,1215.45,1239.55,1208.60,1230.15,1232.15,1227.12,2923372,3.587319e+09,91684,1829934,62.60
6,INFY,EQ,27-Apr-2016,1232.15,1229.20,1242.35,1228.55,1239.15,1240.15,1236.90,2243104,2.774492e+09,110848,1582665,70.56
7,INFY,EQ,28-Apr-2016,1240.15,1231.00,1239.60,1207.00,1210.00,1209.15,1213.55,6082584,7.381519e+09,136015,4311117,70.88
8,INFY,EQ,29-Apr-2016,1209.15,1211.45,1223.55,1205.00,1206.20,1208.10,1211.59,2518205,3.051021e+09,103524,1689412,67.09
9,INFY,EQ,02-May-2016,1208.10,1210.00,1211.15,1196.15,1199.55,1201.05,1200.96,1807625,2.170885e+09,50153,1152917,63.78
10,INFY,EQ,03-May-2016,1201.05,1202.75,1212.20,1171.80,1177.95,1177.80,1190.11,3412405,4.061150e+09,132901,2158470,63.25
11,INFY,EQ,04-May-2016,1177.80,1181.00,1193.00,1170.65,1190.00,1188.85,1182.72,2906421,3.437484e+09,106651,1940064,66.75
12,INFY,EQ,05-May-2016,1188.85,1195.15,1199.00,1181.10,1195.45,1192.45,1189.58,3151334,3.748759e+09,137968,2090748,66.34
13,INFY,EQ,06-May-2016,1192.45,1189.80,1189.80,1177.05,1179.00,1181.50,1181.92,1298360,1.534552e+09,54186,743792,57.29
14,INFY,EQ,09-May-2016,1181.50,1182.00,1201.55,1180.60,1199.85,1199.05,1192.94,2561839,3.056124e+09,81316,1718212,67.07
15,INFY,EQ,10-May-2016,1199.05,1202.50,1216.65,1196.60,1211.95,1212.80,1206.66,1697852,2.048736e+09,75786,1019801,60.06
16,INFY,EQ,11-May-2016,1212.80,1198.50,1214.70,1192.50,1204.00,1201.85,1203.69,1854944,2.232783e+09,64272,1006994,54.29
17,INFY,EQ,12-May-2016,1201.85,1203.90,1213.00,1196.80,1210.80,1210.00,1205.68,1703466,2.053842e+09,77725,1118347,65.65
18,INFY,EQ,13-May-2016,1210.00,1206.00,1210.00,1192.15,1208.00,1207.25,1202.44,2826032,3.398142e+09,81828,2104685,74.47
19,INFY,EQ,16-May-2016,1207.25,1210.20,1223.65,1205.00,1212.80,1215.00,1214.69,2266939,2.753624e+09,77520,1493929,65.90
20,INFY,EQ,17-May-2016,1215.00,1220.00,1225.75,1208.15,1213.55,1214.25,1219.27,1898147,2.314346e+09,75775,1249282,65.82
21,INFY,EQ,18-May-2016,1214.25,1199.00,1214.00,1197.90,1212.00,1209.85,1204.37,2128298,2.563260e+09,60053,1398184,65.69
22,INFY,EQ,19-May-2016,1209.85,1210.95,1216.15,1201.00,1201.15,1205.75,1208.41,1977200,2.389259e+09,63251,1357458,68.66
23,INFY,EQ,20-May-2016,1205.75,1205.00,1219.50,1200.00,1200.90,1201.60,1209.24,1997274,2.415193e+09,72124,1295982,64.89
24,INFY,EQ,23-May-2016,1201.60,1203.40,1205.15,1185.00,1188.20,1188.00,1191.44,2292973,2.731936e+09,65785,1466912,63.97
25,INFY,EQ,24-May-2016,1188.00,1191.05,1191.75,1177.60,1190.00,1187.75,1184.79,1742530,2.064535e+09,85326,1025191,58.83
26,INFY,EQ,25-May-2016,1187.75,1194.10,1213.10,1194.10,1209.15,1208.65,1208.82,1928698,2.331455e+09,66033,1310424,67.94
27,INFY,EQ,26-May-2016,1208.65,1210.10,1239.80,1210.10,1237.90,1234.15,1227.35,3068218,3.765769e+09,96613,2359311,76.90
28,INFY,EQ,27-May-2016,1234.15,1231.60,1259.50,1231.60,1245.00,1247.50,1249.54,3090382,3.861555e+09,79330,2203990,71.32
29,INFY,EQ,30-May-2016,1247.50,1241.50,1272.00,1241.50,1267.00,1267.60,1267.25,2642850,3.349159e+09,92600,1938752,73.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,INFY,EQ,28-Feb-2018,1150.20,1147.60,1189.50,1142.55,1169.85,1172.60,1172.09,8634208,1.012003e+10,229051,5049780,58.49
466,INFY,EQ,01-Mar-2018,1172.60,1169.60,1169.60,1156.05,1160.25,1160.75,1161.83,3289926,3.822336e+09,95568,2089661,63.52
467,INFY,EQ,05-Mar-2018,1160.75,1160.75,1170.80,1143.25,1159.70,1155.90,1158.68,4050728,4.693512e+09,150137,2407810,59.44
468,INFY,EQ,06-Mar-2018,1155.90,1162.55,1165.40,1143.60,1146.25,1151.35,1157.61,3344867,3.872055e+09,123734,2349339,70.24
469,INFY,EQ,07-Mar-2018,1151.35,1155.00,1160.00,1138.05,1147.80,1144.10,1148.31,3185208,3.657595e+09,91049,2099037,65.90
470,INFY,EQ,08-Mar-2018,1144.10,1149.00,1165.80,1149.00,1158.00,1156.65,1158.61,3046507,3.529722e+09,110975,1784229,58.57
471,INFY,EQ,09-Mar-2018,1156.65,1162.35,1166.00,1155.55,1164.00,1163.40,1162.36,2110482,2.453139e+09,83674,1167092,55.30
472,INFY,EQ,12-Mar-2018,1163.40,1176.00,1191.85,1171.75,1184.00,1185.75,1186.26,3838485,4.553456e+09,82530,2208283,57.53
473,INFY,EQ,13-Mar-2018,1185.75,1180.20,1197.00,1175.15,1182.00,1183.80,1187.19,4290526,5.093653e+09,101093,2931653,68.33
474,INFY,EQ,14-Mar-2018,1183.80,1180.00,1190.60,1169.10,1181.10,1180.80,1180.26,2214855,2.614112e+09,54069,1203746,54.35
475,INFY,EQ,15-Mar-2018,1180.80,1180.00,1188.40,1172.00,1181.90,1182.50,1180.88,3050750,3.602570e+09,49232,2081521,68.23
476,INFY,EQ,16-Mar-2018,1182.50,1182.00,1182.40,1169.25,1170.00,1171.90,1172.96,8977413,1.053018e+10,156251,7733842,86.15
477,INFY,EQ,19-Mar-2018,1171.90,1164.00,1180.50,1142.65,1148.00,1146.75,1156.94,3763310,4.353938e+09,114366,2314477,61.50
478,INFY,EQ,20-Mar-2018,1146.75,1148.60,1170.00,1148.60,1164.55,1164.55,1159.74,4276883,4.960077e+09,111232,3115015,72.83
479,INFY,EQ,21-Mar-2018,1164.55,1170.00,1175.50,1162.20,1166.20,1167.50,1171.53,3846497,4.506271e+09,121529,3113984,80.96
480,INFY,EQ,22-Mar-2018,1167.50,1164.50,1177.45,1155.30,1156.00,1161.30,1167.57,3406584,3.977431e+09,82774,2545448,74.72
481,INFY,EQ,23-Mar-2018,1161.30,1147.00,1173.80,1142.35,1165.00,1167.60,1164.59,6004042,6.992254e+09,117145,4213799,70.18
482,INFY,EQ,26-Mar-2018,1167.60,1166.90,1166.90,1144.00,1155.60,1155.25,1153.17,4465361,5.149317e+09,101964,3248748,72.75
483,INFY,EQ,27-Mar-2018,1155.25,1160.00,1161.30,1150.10,1152.10,1154.00,1154.45,1901044,2.194657e+09,67860,1174247,61.77
484,INFY,EQ,28-Mar-2018,1154.00,1150.75,1150.75,1126.25,1140.00,1131.80,1136.18,6279161,7.134253e+09,118878,4775433,76.05
485,INFY,EQ,02-Apr-2018,1131.80,1141.00,1149.55,1121.30,1136.70,1137.15,1135.86,4036351,4.584717e+09,142078,2960225,73.34
486,INFY,EQ,03-Apr-2018,1137.15,1134.70,1143.55,1128.10,1139.40,1140.45,1135.21,2038584,2.314227e+09,114034,1366638,67.04
487,INFY,EQ,04-Apr-2018,1140.45,1144.00,1144.55,1120.00,1122.70,1124.20,1131.81,2406651,2.723879e+09,137029,1472105,61.17
488,INFY,EQ,05-Apr-2018,1124.20,1139.55,1151.30,1129.10,1146.05,1147.55,1140.71,3881772,4.427993e+09,101745,2899162,74.69
489,INFY,EQ,06-Apr-2018,1147.55,1143.00,1146.00,1122.10,1127.55,1127.00,1128.81,2968871,3.351285e+09,137277,1891236,63.70
490,INFY,EQ,09-Apr-2018,1127.00,1125.00,1125.80,1106.55,1111.45,1111.25,1113.12,3601441,4.008832e+09,171118,2529586,70.24
491,INFY,EQ,10-Apr-2018,1111.25,1112.00,1124.50,1105.40,1114.65,1113.40,1115.77,4463029,4.979729e+09,144468,3520250,78.88
492,INFY,EQ,11-Apr-2018,1113.40,1118.00,1131.50,1116.50,1124.50,1124.25,1124.78,4512787,5.075892e+09,102586,3296304,73.04
493,INFY,EQ,12-Apr-2018,1124.25,1129.45,1172.75,1125.00,1164.05,1162.60,1157.71,8522183,9.866189e+09,216130,5624945,66.00
494,INFY,EQ,13-Apr-2018,1162.60,1174.00,1185.90,1150.25,1168.00,1171.45,1172.37,10613519,1.244292e+10,180965,5370870,50.60

In [15]:
infy.head () # You will see the top 5 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,18-Apr-2016,1172.70,1250.00,1267.90,1233.5,1237.15,1238.70,1247.17,12507995,1.559965e+10,287988,7270261,58.12
1,INFY,EQ,20-Apr-2016,1238.70,1244.00,1246.45,1225.8,1244.00,1243.60,1237.18,4036424,4.993801e+09,139599,2555094,63.30
2,INFY,EQ,21-Apr-2016,1243.60,1251.00,1251.00,1218.1,1226.80,1226.30,1231.52,2720550,3.350410e+09,97218,1626993,59.80
3,INFY,EQ,22-Apr-2016,1226.30,1226.30,1228.50,1207.0,1212.75,1211.25,1215.94,2571969,3.127365e+09,96983,1634111,63.54
4,INFY,EQ,25-Apr-2016,1211.25,1212.05,1224.80,1201.1,1219.25,1215.85,1211.42,2682067,3.249113e+09,91828,1673309,62.39

In [16]:
infy.tail () # You will see the bottom 5 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
490,INFY,EQ,09-Apr-2018,1127.00,1125.00,1125.80,1106.55,1111.45,1111.25,1113.12,3601441,4.008832e+09,171118,2529586,70.24
491,INFY,EQ,10-Apr-2018,1111.25,1112.00,1124.50,1105.40,1114.65,1113.40,1115.77,4463029,4.979729e+09,144468,3520250,78.88
492,INFY,EQ,11-Apr-2018,1113.40,1118.00,1131.50,1116.50,1124.50,1124.25,1124.78,4512787,5.075892e+09,102586,3296304,73.04
493,INFY,EQ,12-Apr-2018,1124.25,1129.45,1172.75,1125.00,1164.05,1162.60,1157.71,8522183,9.866189e+09,216130,5624945,66.00
494,INFY,EQ,13-Apr-2018,1162.60,1174.00,1185.90,1150.25,1168.00,1171.45,1172.37,10613519,1.244292e+10,180965,5370870,50.60

## Dropping Rows and/or Columns 

In the above Infosys stock data, it is not necessary that you need all the columns which are present in the .csv file. Hence, to make your data frame more understandable, you may drop the columns that you do not need using drop function.<br>
<br>
General Syntax for dropping columns:<br>
<pre>DataFrame.drop(['Column_name'])</pre>
General Syntax for dropping rows:<br>
<pre>DataFrame.drop(DataFrame.index[[x,y,z...]]</pre>
where x,y,z are row index values

In [17]:
# The axis=1 represents that we are considering columns while dropping.

infy_new = infy.drop (['Prev Close', 'Last Price', 'Average Price', 'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Symbol','Series'], axis = 1)

infy_new.head ()

,Date,Open Price,High Price,Low Price,Close Price,Deliverable Qty,% Dly Qt to Traded Qty
0,18-Apr-2016,1250.00,1267.90,1233.5,1238.70,7270261,58.12
1,20-Apr-2016,1244.00,1246.45,1225.8,1243.60,2555094,63.30
2,21-Apr-2016,1251.00,1251.00,1218.1,1226.30,1626993,59.80
3,22-Apr-2016,1226.30,1228.50,1207.0,1211.25,1634111,63.54
4,25-Apr-2016,1212.05,1224.80,1201.1,1215.85,1673309,62.39

In [18]:
# Dropping rows: 31 March2016, 01 April 2016

infy_new.drop (infy_new.index [[3,4]] ).head() #ADD comment and explain [[3,4]] Also give an example to drop columns using this syntax

,Date,Open Price,High Price,Low Price,Close Price,Deliverable Qty,% Dly Qt to Traded Qty
0,18-Apr-2016,1250.00,1267.90,1233.50,1238.70,7270261,58.12
1,20-Apr-2016,1244.00,1246.45,1225.80,1243.60,2555094,63.30
2,21-Apr-2016,1251.00,1251.00,1218.10,1226.30,1626993,59.80
5,26-Apr-2016,1215.45,1239.55,1208.60,1232.15,1829934,62.60
6,27-Apr-2016,1229.20,1242.35,1228.55,1240.15,1582665,70.56

## Rename Columns
 
If we want to rename the column names, while dealing with the data frame we need to use the rename function.

In [19]:
# Renaming Columns: Have a quick look at the code, It should be self-explanatory by now

infy_new=infy_new.rename(columns={'Date':'Date','Open Price':'Open','High Price':'High','Low Price':'Low','Close Price':'Close'})

infy_new.head()

,Date,Open,High,Low,Close,Deliverable Qty,% Dly Qt to Traded Qty
0,18-Apr-2016,1250.00,1267.90,1233.5,1238.70,7270261,58.12
1,20-Apr-2016,1244.00,1246.45,1225.8,1243.60,2555094,63.30
2,21-Apr-2016,1251.00,1251.00,1218.1,1226.30,1626993,59.80
3,22-Apr-2016,1226.30,1228.50,1207.0,1211.25,1634111,63.54
4,25-Apr-2016,1212.05,1224.80,1201.1,1215.85,1673309,62.39

## Sort a Data Frame using a column 

Sometimes it becomes necessary to sort a stock price data frame, based on the 'Closing Price'.

In [20]:
# Sorting Dataframe in descending order

infy_new = infy_new.sort_values(by="Close", ascending=False)

print(infy_new).head(20) #Prints top 20 values of closing prices in the given dataset

           Date     Open     High      Low    Close  Deliverable Qty  \
29  30-May-2016  1241.50  1272.00  1241.50  1267.60          1938752
33  03-Jun-2016  1260.05  1279.30  1260.05  1266.90          1395872
34  06-Jun-2016  1264.90  1277.00  1261.10  1266.75          1515515
32  02-Jun-2016  1255.00  1274.90  1254.00  1261.55          1657794
31  01-Jun-2016  1246.05  1268.50  1246.00  1258.20          1589552
35  07-Jun-2016  1267.00  1272.50  1255.10  1257.40          2314800
30  31-May-2016  1265.00  1266.75  1239.00  1248.65          5308966
28  27-May-2016  1231.60  1259.50  1231.60  1247.50          2203990
1   20-Apr-2016  1244.00  1246.45  1225.80  1243.60          2555094
6   27-Apr-2016  1229.20  1242.35  1228.55  1240.15          1582665
0   18-Apr-2016  1250.00  1267.90  1233.50  1238.70          7270261
36  08-Jun-2016  1263.95  1263.95  1235.35  1238.10          3499200
27  26-May-2016  1210.10  1239.80  1210.10  1234.15          2359311
5   26-Apr-2016  1215.45  1239.55  1208.60  1232.15          1829934
2   21-Apr-2016  1251.00  1251.00  1218.10  1226.30          1626993
4   25-Apr-2016  1212.05  1224.80  1201.10  1215.85          1673309
19  16-May-2016  1210.20  1223.65  1205.00  1215.00          1493929
20  17-May-2016  1220.00  1225.75  1208.15  1214.25          1249282
15  10-May-2016  1202.50  1216.65  1196.60  1212.80          1019801
47  23-Jun-2016  1197.30  1214.85  1193.35  1211.60          1323086

    % Dly Qt to Traded Qty
29                   73.36
33                   69.82
34                   71.73
32                   65.61
31                   65.68
35                   81.33
30                   77.04
28                   71.32
1                    63.30
6                    70.56
0                    58.12
36                   80.06
27                   76.90
5                    62.60
2                    59.80
4                    62.39
19                   65.90
20                   65.82
15                   60.06
47                   69.12

## Just for Fun

In [21]:
# Create a customized data frame with random numbers between 50k to 120k.

import numpy as np
names = ['Jay', 'Varun', 'Devang', 'Ishan', 'Vibhu']

months = ["January", "February", "March",
         "April", "May", "June",
         "July", "August", "September",
         "October", "November", "December"]

df = pd.DataFrame(np.random.randn (12, 5)*10000, columns = names, index = months)

df

                    Jay         Varun        Devang        Ishan         Vibhu
January   -20080.099388   5445.868643   5029.691943   518.548992   9049.504269
February    5667.785500   6136.172613   -411.027183   257.887293    881.372458
March      -2160.868657  -4121.932082  14740.261857  3908.063334  -6176.950066
April       3581.326047 -19589.805194  15942.791578 -6495.753581 -10751.033674
May         5057.147225  -3366.955375 -19097.811285  9207.073489  14601.932551
June       -2549.281093  -4168.322267  11987.202377  8860.043743 -19454.326744
July       -1036.384065  16932.851409 -13684.555723 -3605.093204   4991.444274
August      3389.105282  13816.027404  -7786.394280  3201.381921   4588.306455
September  -7589.623331  -4065.239463  -9050.772036 -5424.294709    611.958987
October     4413.692409  -6349.019280   -550.965854 -3968.881623  -4316.842728
November    8339.979367   6028.019747 -10167.624981  5535.141102    732.490233
December  -10696.304221  -1571.661151 -16409.607215  2865.365820 -14492.192587

### <span style="color:green">In the upcoming iPython Notebook:</span> <br>
We will understand <b>Descriptive Statistical Functions</b> on a Data Frame but before that a few quiz questions and exercises on this.