## <span style="color:brown">Notebook Instructions</span>

<i> You can run the notebook document sequentially (one cell a time) by pressing <b> shift + enter </b>. While a cell is running, In [*] will display on the left. When it has been run, a number will display indicating the order in which it was run in the notebook. Example: In [8]: </i>

<i> Enter edit mode by pressing <b> Enter </b> or using the mouse to click on a cell's editor area. Edit mode is indicated by a green cell border and a prompt showing in the editor area. </i>

In this notebook, we will have a look at the different descripive statistical functions available in Python. 

## Notebook Contents

##### <span style="color:green">1. Indexing using .loc()</span>
##### <span style="color:green">2. Indexing using .iloc()</span>
#####  <span style="color:green">3. Indexing using .ix()</span>
##### <span style="color:green">4. Missing Values</span>
##### <span style="color:green">5. Data Frame.isnull()</span>
##### <span style="color:green">6. Data Frame.notnull()</span>
##### <span style="color:green">7. DataFrame.fillna()</span>
##### <span style="color:green">8. DataFrame.dropna()</span>
##### <span style="color:green">9. Replacing values</span>
##### <span style="color:green">10. Reindexing</span>

# Loading and Viewing Data

Before we start, let us import OHLC time series data of Infosys stock for only 'two weeks'. With a smaller data frame, understanding 'Indexing' would be more intutive.

In [31]:
# Loading and Viewing data 

import numpy as np
import pandas as pd

infy = pd.read_csv ('infy_twoweeks.csv')

In [32]:
infy # This is the entire 'Infosys two weeks' time series data frame.

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,No. of Trades
0,INFY,EQ,2-Apr-18,1131.80,1141.00,1149.55,1121.30,1136.70,1137.15,1135.86,4036351,142078
1,INFY,EQ,3-Apr-18,1137.15,1134.70,1143.55,1128.10,1139.40,1140.45,1135.21,2038584,114034
2,INFY,EQ,4-Apr-18,1140.45,1144.00,1144.55,1120.00,1122.70,1124.20,1131.81,2406651,137029
3,INFY,EQ,5-Apr-18,1124.20,1139.55,1151.30,1129.10,1146.05,1147.55,1140.71,3881772,101745
4,INFY,EQ,6-Apr-18,1147.55,1143.00,1146.00,1122.10,1127.55,1127.00,1128.81,2968871,137277
5,INFY,EQ,9-Apr-18,1127.00,1125.00,1125.80,1106.55,1111.45,1111.25,1113.12,3601441,171118
6,INFY,EQ,10-Apr-18,1111.25,1112.00,1124.50,1105.40,1114.65,1113.40,1115.77,4463029,144468
7,INFY,EQ,11-Apr-18,1113.40,1118.00,1131.50,1116.50,1124.50,1124.25,1124.78,4512787,102586
8,INFY,EQ,12-Apr-18,1124.25,1129.45,1172.75,1125.00,1164.05,1162.60,1157.71,8522183,216130
9,INFY,EQ,13-Apr-18,1162.60,1174.00,1185.90,1150.25,1168.00,1171.45,1172.37,10613519,180965

In [33]:
infy.shape # This data frame has 10 rows and 12 columns

(10, 12)

## Indexing

Indexing provides us with the axis labelling information in pandas. Further, it helps us to identify the exact position of data, which is important while analysing data. <br>
<br>
While studying indexing, we will also focus on how to slice and dice the data according to our needs in a Data Frame.

## Indexing using .loc()

It is a 'label-location' based indexer for selection of data points.

In [34]:
# Using .loc()

#import the pandas library and aliasing as pd

import pandas as pd
import numpy as np

#select all rows for a specific column 

print (infy.loc[:,'Close Price'])

0    1137.15
1    1140.45
2    1124.20
3    1147.55
4    1127.00
5    1111.25
6    1113.40
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [35]:
# Select all the rows of these specific columns

print (infy.loc[:, ['Close Price','Open Price']])

   Close Price  Open Price
0      1137.15     1141.00
1      1140.45     1134.70
2      1124.20     1144.00
3      1147.55     1139.55
4      1127.00     1143.00
5      1111.25     1125.00
6      1113.40     1112.00
7      1124.25     1118.00
8      1162.60     1129.45
9      1171.45     1174.00

In [36]:
# Select the first five rows of the specific columns

# Remember that the '.loc()' method INCLUDES the rows and columns in its stop argument.

# Observe that '0:4' will include 5 rows from index 0 to 4

# The loc indexer takes the row arguments first and the column arguments second.

print (infy.loc[:4,['Close Price','Open Price']])

   Close Price  Open Price
0      1137.15     1141.00
1      1140.45     1134.70
2      1124.20     1144.00
3      1147.55     1139.55
4      1127.00     1143.00

In [37]:
# Select the rows 2 to 7 of all the columns from the data frame 

print (infy.loc[2:7])

  Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
2   INFY     EQ   4-Apr-18     1140.45     1144.00     1144.55    1120.00
3   INFY     EQ   5-Apr-18     1124.20     1139.55     1151.30    1129.10
4   INFY     EQ   6-Apr-18     1147.55     1143.00     1146.00    1122.10
5   INFY     EQ   9-Apr-18     1127.00     1125.00     1125.80    1106.55
6   INFY     EQ  10-Apr-18     1111.25     1112.00     1124.50    1105.40
7   INFY     EQ  11-Apr-18     1113.40     1118.00     1131.50    1116.50

   Last Price  Close Price  Average Price  Total Traded Quantity  \
2     1122.70      1124.20        1131.81                2406651
3     1146.05      1147.55        1140.71                3881772
4     1127.55      1127.00        1128.81                2968871
5     1111.45      1111.25        1113.12                3601441
6     1114.65      1113.40        1115.77                4463029
7     1124.50      1124.25        1124.78                4512787

   No. of Trades
2         137029
3         101745
4         137277
5         171118
6         144468
7         102586

In [38]:
# Select the rows and columns specified

print (infy.loc[[0,1,2,3,4,5],['Open Price', 'High Price', 'Low Price', 'Close Price']])

   Open Price  High Price  Low Price  Close Price
0     1141.00     1149.55    1121.30      1137.15
1     1134.70     1143.55    1128.10      1140.45
2     1144.00     1144.55    1120.00      1124.20
3     1139.55     1151.30    1129.10      1147.55
4     1143.00     1146.00    1122.10      1127.00
5     1125.00     1125.80    1106.55      1111.25

In [39]:
# To check if the fifth row's values are greater than 1130.

print (infy.loc[4]>1130)

Symbol                    True
Series                    True
Date                      True
Prev Close                True
Open Price                True
High Price                True
Low Price                False
Last Price               False
Close Price              False
Average Price            False
Total Traded Quantity     True
No. of Trades             True
Name: 4, dtype: bool

## Indexing using .iloc()

Another way to perform indexing is using the 'iloc()' method.

In [40]:
# Using .iloc()

# Select the first four rows of all the columns

# Remember that the '.loc()' method DOES NOT include the rows and columns in its stop argument

# Observe that '0:4' will include 4 rows from index 0 to 3

print (infy.iloc[:4])

  Symbol Series      Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ  2-Apr-18     1131.80     1141.00     1149.55     1121.3
1   INFY     EQ  3-Apr-18     1137.15     1134.70     1143.55     1128.1
2   INFY     EQ  4-Apr-18     1140.45     1144.00     1144.55     1120.0
3   INFY     EQ  5-Apr-18     1124.20     1139.55     1151.30     1129.1

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86                4036351
1     1139.40      1140.45        1135.21                2038584
2     1122.70      1124.20        1131.81                2406651
3     1146.05      1147.55        1140.71                3881772

   No. of Trades
0         142078
1         114034
2         137029
3         101745

In [41]:
# Let us play more with the indexes of both rows and columns

# Select the rows from index 1 to index 4 (4 rows in total) and Columns with index from  2 to  3 (2 columns)

# .iloc() is similar to numpy array indexing

# iloc is extremely useful when your data is not labelled and you need to refer to columns using their integer location instead

print (infy.iloc[1:5, 2:4])

       Date  Prev Close
1  3-Apr-18     1137.15
2  4-Apr-18     1140.45
3  5-Apr-18     1124.20
4  6-Apr-18     1147.55

In [42]:
# Selecting the exact requested columns

print (infy.iloc[[1, 3, 5,7], [1, 3, 5, 7, 9]])

  Series  Prev Close  High Price  Last Price  Average Price
1     EQ     1137.15     1143.55     1139.40        1135.21
3     EQ     1124.20     1151.30     1146.05        1140.71
5     EQ     1127.00     1125.80     1111.45        1113.12
7     EQ     1113.40     1131.50     1124.50        1124.78

In [43]:
# Selecting the first two rows and all the columns

print (infy.iloc[1:3, :])

  Symbol Series      Date  Prev Close  Open Price  High Price  Low Price  \
1   INFY     EQ  3-Apr-18     1137.15      1134.7     1143.55     1128.1
2   INFY     EQ  4-Apr-18     1140.45      1144.0     1144.55     1120.0

   Last Price  Close Price  Average Price  Total Traded Quantity  \
1      1139.4      1140.45        1135.21                2038584
2      1122.7      1124.20        1131.81                2406651

   No. of Trades
1         114034
2         137029

In [44]:
print (infy.iloc[:,1:3])

  Series       Date
0     EQ   2-Apr-18
1     EQ   3-Apr-18
2     EQ   4-Apr-18
3     EQ   5-Apr-18
4     EQ   6-Apr-18
5     EQ   9-Apr-18
6     EQ  10-Apr-18
7     EQ  11-Apr-18
8     EQ  12-Apr-18
9     EQ  13-Apr-18

## Indexing using .ix()

Another way to perform indexing is using the 'ix()' method.

##### <span style="color:red">ix indexer has been depricated in the latest version of pandas, but we having discussed it just for your information</span>

In [45]:
# Using .ix()

# Remember that the '.ix()' method INCLUDES the rows and columns in its stop argument.

# Observe that '0:4' will include 5 rows from index 0 to 4

# We are selecting the first five rows and all the columns of our data frame

print (infy.ix[:4])

  Symbol Series      Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ  2-Apr-18     1131.80     1141.00     1149.55     1121.3
1   INFY     EQ  3-Apr-18     1137.15     1134.70     1143.55     1128.1
2   INFY     EQ  4-Apr-18     1140.45     1144.00     1144.55     1120.0
3   INFY     EQ  5-Apr-18     1124.20     1139.55     1151.30     1129.1
4   INFY     EQ  6-Apr-18     1147.55     1143.00     1146.00     1122.1

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86                4036351
1     1139.40      1140.45        1135.21                2038584
2     1122.70      1124.20        1131.81                2406651
3     1146.05      1147.55        1140.71                3881772
4     1127.55      1127.00        1128.81                2968871

   No. of Trades
0         142078
1         114034
2         137029
3         101745
4         137277

In [46]:
# Select rows from index 2 to index 5, only of the 'Close Price' Column

print (infy.ix[2:5,'Close Price'])

2    1124.20
3    1147.55
4    1127.00
5    1111.25
Name: Close Price, dtype: float64

In [47]:
# You will be able to understand this by now! 

print (infy.ix[2:5, 4:9])

   Open Price  High Price  Low Price  Last Price  Close Price
2     1144.00     1144.55    1120.00     1122.70      1124.20
3     1139.55     1151.30    1129.10     1146.05      1147.55
4     1143.00     1146.00    1122.10     1127.55      1127.00
5     1125.00     1125.80    1106.55     1111.45      1111.25

In [48]:
# Just some revision for choosing columns in a data frame, since it is important

# Choosing a specific column from a data frame

print (infy['Close Price'])

0    1137.15
1    1140.45
2    1124.20
3    1147.55
4    1127.00
5    1111.25
6    1113.40
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [49]:
# Choosing multiple columns from a data Frame 

print (infy[['Open Price', 'High Price', 'Low Price', 'Close Price']])

   Open Price  High Price  Low Price  Close Price
0     1141.00     1149.55    1121.30      1137.15
1     1134.70     1143.55    1128.10      1140.45
2     1144.00     1144.55    1120.00      1124.20
3     1139.55     1151.30    1129.10      1147.55
4     1143.00     1146.00    1122.10      1127.00
5     1125.00     1125.80    1106.55      1111.25
6     1112.00     1124.50    1105.40      1113.40
7     1118.00     1131.50    1116.50      1124.25
8     1129.45     1172.75    1125.00      1162.60
9     1174.00     1185.90    1150.25      1171.45

## Missing Values

Missing values are values that are absent from the data frame. Usually, all the data frames that you would work on, would be large and there will be a case of 'missing values' in most of them. <br>
<br>
Hence, it becomes important for you to learn how to handle these missing values.

In [51]:
# We have deliberately created 'missing values' in the same 'Infosys two weeks' data which you have used above.

# Have a look at the entire data frame 

import numpy as np
import pandas as pd

infy = pd.read_csv ('infy_twoweeks_nan.csv')

infy

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,No. of Trades
0,INFY,EQ,2-Apr-18,1131.80,1141.00,1149.55,1121.30,1136.70,1137.15,1135.86,4036351.0,142078.0
1,INFY,EQ,3-Apr-18,1137.15,1134.70,1143.55,1128.10,1139.40,1140.45,1135.21,2038584.0,114034.0
2,INFY,EQ,4-Apr-18,1140.45,1144.00,NaN,NaN,NaN,NaN,NaN,NaN,137029.0
3,INFY,EQ,5-Apr-18,1124.20,NaN,1151.30,1129.10,1146.05,1147.55,1140.71,3881772.0,NaN
4,INFY,EQ,6-Apr-18,1147.55,1143.00,1146.00,1122.10,1127.55,NaN,1128.81,2968871.0,137277.0
5,INFY,EQ,9-Apr-18,NaN,NaN,NaN,1106.55,1111.45,1111.25,NaN,3601441.0,171118.0
6,INFY,EQ,10-Apr-18,1111.25,1112.00,1124.50,NaN,NaN,NaN,1115.77,NaN,NaN
7,INFY,EQ,11-Apr-18,1113.40,1118.00,1131.50,1116.50,1124.50,1124.25,1124.78,4512787.0,102586.0
8,INFY,EQ,12-Apr-18,NaN,1129.45,NaN,1125.00,1164.05,1162.60,1157.71,8522183.0,216130.0
9,INFY,EQ,13-Apr-18,1162.60,1174.00,1185.90,1150.25,1168.00,1171.45,1172.37,10613519.0,NaN

## DataFrame.isnull()

This method returns a Boolean result.<br>
<br>
It will return 'True' if the data point has a 'NaN' (Not a Number) value. Missing data is represented by a NaN value.

In [52]:
# Understanding the 'NaN' values of the 'Close Price' column in the infy data frame

print (infy['Close Price'].isnull())

0    False
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8    False
9    False
Name: Close Price, dtype: bool

In [53]:
# Understanding the 'NaN' values of the entire data frame

print (infy.isnull())

  Symbol Series   Date Prev Close Open Price High Price Low Price Last Price  \
0  False  False  False      False      False      False     False      False
1  False  False  False      False      False      False     False      False
2  False  False  False      False      False       True      True       True
3  False  False  False      False       True      False     False      False
4  False  False  False      False      False      False     False      False
5  False  False  False       True       True       True     False      False
6  False  False  False      False      False      False      True       True
7  False  False  False      False      False      False     False      False
8  False  False  False       True      False       True     False      False
9  False  False  False      False      False      False     False      False

  Close Price Average Price Total Traded Quantity No. of Trades
0       False         False                 False         False
1       False         False                 False         False
2        True          True                  True         False
3       False         False                 False          True
4        True         False                 False         False
5       False          True                 False         False
6        True         False                  True          True
7       False         False                 False         False
8       False         False                 False         False
9       False         False                 False          True

## DataFrame.notnull()

This method returns a Boolean result.<br>
<br>
It will return 'False' if the data point is not a 'NaN' (Not a Number) value. Missing data is represented by a NaN value.

In [54]:
print (infy['Close Price'].notnull())

0     True
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8     True
9     True
Name: Close Price, dtype: bool

## DataFrame.fillna()

The .fillna() method will fill all the 'NaN' Values of the entire data frame or of the requested columns with a scalar value of your choice.

In [55]:
# Replace NaN with a Scalar Value of 1000

print (infy.fillna(1000))

  Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ   2-Apr-18     1131.80     1141.00     1149.55    1121.30
1   INFY     EQ   3-Apr-18     1137.15     1134.70     1143.55    1128.10
2   INFY     EQ   4-Apr-18     1140.45     1144.00     1000.00    1000.00
3   INFY     EQ   5-Apr-18     1124.20     1000.00     1151.30    1129.10
4   INFY     EQ   6-Apr-18     1147.55     1143.00     1146.00    1122.10
5   INFY     EQ   9-Apr-18     1000.00     1000.00     1000.00    1106.55
6   INFY     EQ  10-Apr-18     1111.25     1112.00     1124.50    1000.00
7   INFY     EQ  11-Apr-18     1113.40     1118.00     1131.50    1116.50
8   INFY     EQ  12-Apr-18     1000.00     1129.45     1000.00    1125.00
9   INFY     EQ  13-Apr-18     1162.60     1174.00     1185.90    1150.25

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86              4036351.0
1     1139.40      1140.45        1135.21              2038584.0
2     1000.00      1000.00        1000.00                 1000.0
3     1146.05      1147.55        1140.71              3881772.0
4     1127.55      1000.00        1128.81              2968871.0
5     1111.45      1111.25        1000.00              3601441.0
6     1000.00      1000.00        1115.77                 1000.0
7     1124.50      1124.25        1124.78              4512787.0
8     1164.05      1162.60        1157.71              8522183.0
9     1168.00      1171.45        1172.37             10613519.0

   No. of Trades
0       142078.0
1       114034.0
2       137029.0
3         1000.0
4       137277.0
5       171118.0
6         1000.0
7       102586.0
8       216130.0
9         1000.0

In [56]:
# This will fill the 'Close Price' column with the scalar value of 5

print (infy['Close Price'].fillna(5))

0    1137.15
1    1140.45
2       5.00
3    1147.55
4       5.00
5    1111.25
6       5.00
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [57]:
# If we want to do 'fillna()' using the 'backfill' method, then backfill will take the value from the next row 
# and fill the NaN value with that same value

print (infy['Close Price'])

print (infy['Close Price'].fillna(method='backfill'))

0    1137.15
1    1140.45
2        NaN
3    1147.55
4        NaN
5    1111.25
6        NaN
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64
0    1137.15
1    1140.45
2    1147.55
3    1147.55
4    1111.25
5    1111.25
6    1124.25
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [58]:
# It is even possible to do it for the entire data frame with the 'backfill' values

print (infy.fillna(method='backfill'))

  Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ   2-Apr-18     1131.80     1141.00     1149.55    1121.30
1   INFY     EQ   3-Apr-18     1137.15     1134.70     1143.55    1128.10
2   INFY     EQ   4-Apr-18     1140.45     1144.00     1151.30    1129.10
3   INFY     EQ   5-Apr-18     1124.20     1143.00     1151.30    1129.10
4   INFY     EQ   6-Apr-18     1147.55     1143.00     1146.00    1122.10
5   INFY     EQ   9-Apr-18     1111.25     1112.00     1124.50    1106.55
6   INFY     EQ  10-Apr-18     1111.25     1112.00     1124.50    1116.50
7   INFY     EQ  11-Apr-18     1113.40     1118.00     1131.50    1116.50
8   INFY     EQ  12-Apr-18     1162.60     1129.45     1185.90    1125.00
9   INFY     EQ  13-Apr-18     1162.60     1174.00     1185.90    1150.25

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86              4036351.0
1     1139.40      1140.45        1135.21              2038584.0
2     1146.05      1147.55        1140.71              3881772.0
3     1146.05      1147.55        1140.71              3881772.0
4     1127.55      1111.25        1128.81              2968871.0
5     1111.45      1111.25        1115.77              3601441.0
6     1124.50      1124.25        1115.77              4512787.0
7     1124.50      1124.25        1124.78              4512787.0
8     1164.05      1162.60        1157.71              8522183.0
9     1168.00      1171.45        1172.37             10613519.0

   No. of Trades
0       142078.0
1       114034.0
2       137029.0
3       137277.0
4       137277.0
5       171118.0
6       102586.0
7       102586.0
8       216130.0
9            NaN

In [59]:
# 'bfill' does the same thing as 'backfill'

print (infy['Close Price'])

print (infy['Close Price'].fillna(method='bfill'))

0    1137.15
1    1140.45
2        NaN
3    1147.55
4        NaN
5    1111.25
6        NaN
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64
0    1137.15
1    1140.45
2    1147.55
3    1147.55
4    1111.25
5    1111.25
6    1124.25
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [60]:
# If we want to do 'fillna()' using the 'ffill' method, then ffill will take the value from the previous row.. 
# ..and fill the NaN value with that same value

print (infy['Close Price'])

print (infy['Close Price'].fillna(method='ffill'))

0    1137.15
1    1140.45
2        NaN
3    1147.55
4        NaN
5    1111.25
6        NaN
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64
0    1137.15
1    1140.45
2    1140.45
3    1147.55
4    1147.55
5    1111.25
6    1111.25
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [61]:
# 'pad' does the same thing as 'ffill'

print (infy['Close Price'])

print (infy['Close Price'].fillna(method='pad'))

0    1137.15
1    1140.45
2        NaN
3    1147.55
4        NaN
5    1111.25
6        NaN
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64
0    1137.15
1    1140.45
2    1140.45
3    1147.55
4    1147.55
5    1111.25
6    1111.25
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

## DataFrame.dropna()

This method will drop the entire 'row' or 'column' which has even a single 'NaN' value present, as per the request.

In [62]:
# By default, dropna() will exclude or drop all the rows which has even one NaN value in it

print (infy.dropna())

  Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ   2-Apr-18     1131.80      1141.0     1149.55     1121.3
1   INFY     EQ   3-Apr-18     1137.15      1134.7     1143.55     1128.1
7   INFY     EQ  11-Apr-18     1113.40      1118.0     1131.50     1116.5

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0      1136.7      1137.15        1135.86              4036351.0
1      1139.4      1140.45        1135.21              2038584.0
7      1124.5      1124.25        1124.78              4512787.0

   No. of Trades
0       142078.0
1       114034.0
7       102586.0

In [63]:
# If we specify the axis = 1, it will exclude or drop all the columns which has even one NaN value in it

print (infy.dropna(axis=1))

  Symbol Series       Date
0   INFY     EQ   2-Apr-18
1   INFY     EQ   3-Apr-18
2   INFY     EQ   4-Apr-18
3   INFY     EQ   5-Apr-18
4   INFY     EQ   6-Apr-18
5   INFY     EQ   9-Apr-18
6   INFY     EQ  10-Apr-18
7   INFY     EQ  11-Apr-18
8   INFY     EQ  12-Apr-18
9   INFY     EQ  13-Apr-18

## Replacing values

Replacing helps us to select any data point in the entire data frame and replace it with the value of our choice.

In [64]:
# Replace Missing (or) Generic Values

import pandas as pd
import numpy as np

# Let us do this a bit differently. We will create a Data Frame using the 'pd.DataFrame' constructor

df = pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})

print (df)

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

In [65]:
# .replace() will first find the value which you want to replace and replace it the value you have given.

# eg: In the below '1000' is the value it will find and replace it with '10'

print (df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [66]:
print (infy['Close Price'])

0    1137.15
1    1140.45
2        NaN
3    1147.55
4        NaN
5    1111.25
6        NaN
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [67]:
# This should be self explanatory

print (infy['Close Price'].replace({1147.55:3000}))

0    1137.15
1    1140.45
2        NaN
3    3000.00
4        NaN
5    1111.25
6        NaN
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [68]:
print (infy['Close Price'].replace({NaN:1000000})) # We cannot replace NaN values, since they are not defined.

NameError: name 'NaN' is not defined

## Reindexing 

Reindexing changes the row labels and column labels of a DataFrame.<br> 
<br> 
To reindex means to conform the data to match a given set of labels along a particular axis.

In [69]:
import pandas as pd
import numpy as np

print (infy)

  Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ   2-Apr-18     1131.80     1141.00     1149.55    1121.30
1   INFY     EQ   3-Apr-18     1137.15     1134.70     1143.55    1128.10
2   INFY     EQ   4-Apr-18     1140.45     1144.00         NaN        NaN
3   INFY     EQ   5-Apr-18     1124.20         NaN     1151.30    1129.10
4   INFY     EQ   6-Apr-18     1147.55     1143.00     1146.00    1122.10
5   INFY     EQ   9-Apr-18         NaN         NaN         NaN    1106.55
6   INFY     EQ  10-Apr-18     1111.25     1112.00     1124.50        NaN
7   INFY     EQ  11-Apr-18     1113.40     1118.00     1131.50    1116.50
8   INFY     EQ  12-Apr-18         NaN     1129.45         NaN    1125.00
9   INFY     EQ  13-Apr-18     1162.60     1174.00     1185.90    1150.25

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86              4036351.0
1     1139.40      1140.45        1135.21              2038584.0
2         NaN          NaN            NaN                    NaN
3     1146.05      1147.55        1140.71              3881772.0
4     1127.55          NaN        1128.81              2968871.0
5     1111.45      1111.25            NaN              3601441.0
6         NaN          NaN        1115.77                    NaN
7     1124.50      1124.25        1124.78              4512787.0
8     1164.05      1162.60        1157.71              8522183.0
9     1168.00      1171.45        1172.37             10613519.0

   No. of Trades
0       142078.0
1       114034.0
2       137029.0
3            NaN
4       137277.0
5       171118.0
6            NaN
7       102586.0
8       216130.0
9            NaN

In [70]:
# Here we have changed the shape of data frame by using reindexing

infy_reindexed = infy.reindex(index = [0,2,4,6,8], columns = ['Open Price', 'High Price', 'Low Price','Close Price'])

print (infy_reindexed)

   Open Price  High Price  Low Price  Close Price
0     1141.00     1149.55     1121.3      1137.15
2     1144.00         NaN        NaN          NaN
4     1143.00     1146.00     1122.1          NaN
6     1112.00     1124.50        NaN          NaN
8     1129.45         NaN     1125.0      1162.60

### <span style="color:brown"> In the upcoming iPython Notebook:</span>

We will understand about the Date and Time class in Python. This would be an optional read.